.apropos {
  background: var(--beige);
}
.apropos .section1 {
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
.apropos .section1 h1 {
  color: var(--red);
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.1vh;
  padding: 0 20%;
  width: 60%;
  margin: 0;
  margin-top: 18px; /* this because font x is not centered */
  font-family: "FormulaCondensed";
}

@media (min-width: 716px) {
  .apropos .section1 {
    height: 128px;
  }
  .apropos .section1 h1 {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    margin-top: 12px; /* this because font x is not centered */
  }
}

.apropos .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: var(--beige);
}

.apropos .section2 > h2 {
  padding: 0 16px;
  text-align: center;
  color: var(--red);
}

.apropos > .section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apropos > .section3 > .leftpane {
  width: 80vw;
  padding: 10vw 10vw;
  background: var(--red);
}
.apropos > .section3 > .leftpane > p {
  color: var(--pink);
  font-family: "Compagnie-II";
  line-height: 20px;
}

.apropos > .section3 > .rightpane {
  width: 80vw;
  padding: 10vw 10vw;
  background: var(--pink);
}

.value {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
}

.value > img {
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

.value > span {
  font-size: 24px;
  font-family: "Compagnie-II";
  text-transform: uppercase;
  color: var(--red);
}

@media (min-width: 716px) {
  .apropos > .section3 {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }

  .apropos > .section3 > .leftpane {
    padding: 0;
    height: 100%;
    width: 45vw;
    background: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .apropos > .section3 > .leftpane > p {
    color: var(--pink);
    font-family: "Compagnie-II";
    line-height: 20px;
    width: 30vw;
  }

  .apropos > .section3 > .rightpane {
    padding: 0;
    height: 100%;
    width: 55vw;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0 8px 5vw;
  }

  .value > img {
    height: 42px;
    width: 42px;
    padding-right: 8px;
  }

  .value > span {
    font-size: 42px;
    font-family: "Compagnie-II";
    text-transform: uppercase;
    color: var(--red);
  }
}

.apropos > .section4 {
  background: var(--blue);
  color: black;
  padding: 24px 0;
}

.apropos > .section4 > h1 {
  width: 80vw;
  padding: 16px 10vw;
  text-align: center;
  margin-bottom: 24px;
}

.section4__columns {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section4__column {
  width: 80vw;
  text-align: center;
  margin-bottom: 24px;
}

.section4__column > h2 {
  margin-bottom: 8px;
}

.section4__column > p {
  margin-bottom: 16px;
}

.section4__footer {
  margin: 24px 10vw;
  width: 80vw;
  font-family: "Compagnie-II";
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 716px) {
  .section4__columns {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .section4__column {
    width: 24vw;
    text-align: center;
    margin-bottom: 24px;
  }

  .section4__column > h2 {
    margin-bottom: 8px;
  }

  .section4__column > p {
    margin-bottom: 16px;
  }

  .section4__footer {
    margin: 24px 10vw;
    width: 80vw;
    font-family: "Compagnie-II";
    text-align: center;
  }
}

.apropos > .section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--red);
}

.apropos > .section5 > h1 {
  width: 90vw;
  padding: 56px 5vw 16px 5vw;
  text-align: center;
  margin-bottom: 24px;
  color: var(--beige);
}
.apropos > .section5 > h2 {
  width: 100%;
  text-align: center;
}
.apropos > .section5 > h3 {
  width: 100%;
  text-align: center;
}
.section5__column {
  width: 80vw;
  text-align: center;
  margin-bottom: 24px;
}

.section5__column > h2 {
  color: var(--beige);
}

.section5__column > h3 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 300;
  color: var(--beige);
  text-align: center;
}

.section5__column > p {
  margin-bottom: 16px;
  color: var(--beige);
}

.section5__footer {
  margin: 24px 10vw;
  width: 80vw;
  font-family: "Compagnie-II";
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 716px) {
  .apropos > .section5 > h1 {
    text-align: center;
  }
  .apropos > .section5 > h2 {
    width: 100%;
    text-align: center;
  }
  .apropos > .section5 > h3 {
    width: 100%;
    text-align: center;
  }
  .section5__columns {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section5__column {
    width: 40vw;
    text-align: center;
    margin-bottom: 24px;
  }

  .section5__column > h2 {
    text-align: left;
  }

  .section5__column > h3 {
    text-align: left;
  }

  .section5__column > p {
    margin-bottom: 16px;
    text-align: left;
  }

  .section5__footer {
    margin: 24px 10vw;
    width: 80vw;
    font-family: "Compagnie-II";
    text-align: center;
  }
}

.apropos .flamme {
  transform: translateY(4px);
}
.apropos > .section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--pink);
  padding-bottom: 24px;
}

.apropos > .section6 > h1 {
  width: 80vw;
  padding: 56px 10vw 16px 10vw;
  text-align: center;
  color: var(--red);
}

.apropos > .section6 > p {
  font-family: "Compagnie-II";
  color: var(--red);
  text-align: center;
  width: 80vw;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 10vw;
}

.apropos > .section6 > span {
  color: var(--red);
  text-align: center;
  width: 80vw;
  padding: 16px 10vw;
}

.projet__img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 716px) {
  .projet__img {
    width: 60vw;
    height: calc(60vw / 16 * 9);
    object-fit: cover;
    object-position: center;
  }
}
