.collaborateurs {
  flex-direction: column;
  background: var(--beige);
  min-height: 100vh;
  padding-bottom: 10vh;
}
.collaborateurs__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 76px 25% 0 25%;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 716px) {
  .collaborateurs__header {
    height: 128px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1vh;
    padding: 0 25%;
    width: 50%;
    margin: 0;
  }
}
.collaborateurs__list {
  z-index: 100;
}
.collaborateurs__list > li {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collaborateur__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: auto;
  text-align: center;
  font-family: "FormulaCondensed";
  font-size: 36px;
  padding: 0 42px;
  padding-top: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.collaborateur__link:hover {
  background: var(--red);
  color: var(--beige);
}

@media (min-width: 716px) {
  .collaborateur__link {
    font-size: 96px;
  }
}

.phare {
  position: fixed;
  min-height: 30vh;
  min-width: 30vw;
  max-height: 60vh;
  max-width: 30vw;
  width: auto;
  z-index: 0;
  object-fit: contain;
  object-position: center;
  animation: fadeIn 0.3s;
}
