.collaborateur {
  background: var(--beige);
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 10vh;
}
.collaborateur img {
  width: 100vw;
  max-width: 100vw;
}
.collaborateur iframe {
  max-width: 100vw;
}

.collaborateur > h1 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  padding: 0 10vw;
  color: black;
  margin-top: 64px;
  font-family: "FormulaCondensed";
  font-size: 42px;
  line-height: 42px;
  text-decoration: none;
}
.collaborateur > h2 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  padding: 0 10vw;
  color: black;
  margin-top: 32px;
  font-family: "FormulaCondensed";
  text-decoration: none;
}
.collaborateur__disciplines {
  margin-top: 16px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collaborateur__discipline {
  width: 80vw;
  text-align: center;
  font-family: "Compagnie-II";
  text-transform: uppercase;
}

.collaborateur__with {
  width: 80vw;
  text-align: center;
  color: var(--red);
}
.collaborateur__collabo-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.collaborateur__description {
  margin: 32px 10%;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  color: var(--red);
}

@media (min-width: 716px) {
  .collaborateur > h1 {
    min-height: 116px;
    font-size: 96px;
    line-height: 112px;
    line-height: auto;
    letter-spacing: 0.1vh;
    padding: 0 20%;
    width: 60%;
    margin: 0;
    margin-top: 96px;
  }
  .collaborateur__discipline {
    font-size: 24px;
  }

  .collaborateur__description {
    text-align: center;
    margin: 32px 20%;
    width: 60%;
    font-size: 16px;
    line-height: 20px;
  }
}
.collaborateur__social-links {
  margin: 0 10vw;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
}
.collaborateur__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 24px;
  border-radius: 12px;
  width: auto;
  padding: 0 32px;
  margin: 8px;
  border: 2px solid var(--red);
  text-decoration: none;
}

@media (min-width: 716px) {
  .collaborateur__social-links {
    margin: 0 20vw;
    width: 60vw;
  }
}

.videoContainer {
  width: 100vw;
  height: auto;
  padding: 10vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
