.contact {
  background: var(--beige);
  min-height: 100vh;
}
.contact--home {
  background: var(--beige);
  min-height: auto;
  padding-top: 4vh;
}

.contact__section1 > h1 {
  color: black;
}

.contact__social-links {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.contact__section2 {
  display: flex;
  flex-direction: column;
}

.contact__columns {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__column {
  width: 80vw;
  text-align: center;
  margin: 32px 0;
  color: var(--red);
}

.contact__column h2,
.contact__column div {
  font-family: "Compagnie-II";
  padding: 4px;
}
.contact__column h2 {
  text-transform: uppercase;
}

@media (min-width: 716px) {
  .contact__columns {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .contact__column {
    width: 40vw;
  }
}

.map {
  width: 80vw;
  padding: 0 10vw 10vh 10vw;
  height: auto;
}
