@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css");

html {
  /* import font face */
}

/* ---- Colors ---- */
:root {
  --red: #e52d1a;
  --beige: #f0e6e3;
  --pink: #edd4f0;
  --green: #7c8d7a;
  --blue: #c0cee7;
}

/* ---- Typography ---- */

@font-face {
  font-family: "Compagnie-II";
  src: url("../../static/fonts/Compagnie-II.woff") format("woff");
}
@font-face {
  font-family: "FormulaCondensed";
  src: url("../../static/fonts/FormulaCondensed-Bold.woff2") format("woff2");
}

p,
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Compagnie-II";
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
}
h2 {
  font-family: "Compagnie-II";
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
h3 {
  font-family: "Compagnie-II";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 716px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

a {
  color: var(--red);
}

/* ---- animations ---- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  /* flame pulses */
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ---- atoms ---- */
section {
  width: 100vw;
  height: auto;
  display: flex;
}
