.hero {
  background-color: var(--red);
  color: var(--beige);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero,
.two-links-horizontal {
  animation: fadeIn 0.3s;
}

.logotype {
  width: 80%;
  padding: 0 5%;
  margin-top: 96px;
  height: auto;
}

.hero > h2 {
  width: 100%;
  padding: 4vh 0;
  font-size: 2vh;
  height: auto;
  text-align: center;
}
@media (min-width: 716px) {
  .logotype {
    margin-top: 128px;
    width: 80%;
  }
  .hero > h2 {
    font-size: 3vh;
  }
}

.flamme {
  width: 96%;
  height: auto;
  margin-top: 16px;
  transform: translateY(4px);
}
@media (min-width: 716px) {
  .flamme {
    width: 80%;
  }
}

/* ---- ---- */

.two-links-horizontal {
  background-color: var(--pink);
  color: var(--red);
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.two-links-horizontal > div {
  width: 340px;
  max-width: 100%;
  padding: 32px;
  text-align: center;
}

.two-links-horizontal h3 {
  margin-bottom: 12px;
  font-size: 2vh;
}
@media (min-width: 716px) {
  .two-links-horizontal > div {
    text-align: left;
  }
  .two-links-horizontal h3 {
    font-size: 3vh;
    line-height: 3.1vh;
  }
}

.two-links-horizontal > div > a {
  font-size: 16px;
}
@media (min-width: 716px) {
  .two-links-horizontal > div > a {
    font-size: 22px;
  }
}

/* ---- ---- */

.projets {
  flex-direction: column;
}

.projets > .header {
  width: calc(100vw - 2 * 18px);
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: black;
}
.projets h2 {
  font-size: 16px;
  letter-spacing: 0.1vh;
}

.projets > .header > img {
  height: 18px;
  width: auto;
  padding: 0 18px;
}

.projet:nth-child(2) {
  color: var(--blue);
  background-color: var(--red);
}
.projet:nth-child(3) {
  color: var(--red);
  background-color: var(--pink);
}
.projet:nth-child(4) {
  color: var(--beige);
  background-color: var(--green);
}
.projet:nth-child(5) {
  background-color: var(--blue);
}

.projet {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.projet a {
  color: inherit;
  text-transform: none;
  text-decoration: none;
}

.projet__info {
  width: 90%;
  padding: 10% 5%;
}

.projet__info > h2 {
  width: 90%;
  font-size: 24px;
  font-weight: 500;
  padding: 4px 0;
  text-transform: uppercase;
}

.projet__info > h3 {
  width: 90%;
  font-size: 20px;
  font-weight: 300;
  padding: 4px 0;
}
.projet__info > p {
  padding: 8px 0;
  margin-bottom: 24px;
}
.projet__slider {
  width: 100vw;
  height: calc(100vw / 16 * 9);
}

@media only screen and (min-width: 716px) {
  .projet {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .projet__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30vw;
    height: calc(60vw / 16 * 9 - 8vh);
    padding: 4vh 5vw;
  }
}
