nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  animation: fadeIn 1s;
}
.fixed {
  position: fixed;
}
.overlay {
  height: 100vh;
  width: 100vw;
  background: var(--pink);
}
.menu-icon-container,
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.logo-container {
  padding: 0 16px;
}
.logo-container > img {
  height: 48px;
  width: auto;
}
.menu-icon-container {
  padding: 0 16px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-icon-container:focus {
  background: none;
  border: none;
  outline: none;
}
.menu-icon-container > img {
  height: 21px;
}

.nav--open {
  display: flex;
  width: 100vw;
  color: var(--red);
  align-items: flex-start;
  justify-content: space-between;
}
.overlay > ul {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay > ul > li {
  padding-bottom: 16px;
  margin: 4px 0;
}
.overlay > ul > li > a {
  font-family: "FormulaCondensed";
  font-size: 36px;
  padding: 0 42px;
  padding-top: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.overlay > ul > li > button {
  font-family: "FormulaCondensed";
  font-size: 36px;
  padding: 0 42px;
  padding-top: 16px;
  border: none;
  background: none;
  color: var(--red);
  text-transform: uppercase;
}
.overlay > ul > li > button:focus {
  background: none;
  outline: none;
}
.overlay > ul > li > a:hover {
  background: var(--red);
  color: var(--beige);
  cursor: pointer;
}
.overlay > ul > li > button:hover {
  background: var(--red);
  color: var(--beige);
  cursor: pointer;
}

.nav--closed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 716px) {
  .menu-icon-container,
  .logo-container {
    height: 128px;
  }
  .logo-container {
    padding: 0 32px;
  }
  .logo-container > img {
    height: 86px;
  }
  .menu-icon-container {
    padding: 0 32px;
  }
  .menu-icon-container > img {
    height: 42px;
  }
  .overlay > ul > li > a {
    font-size: 86px;
  }
  .overlay > ul > li > button {
    font-size: 86px;
  }
  .overlay > ul {
    padding-top: 18px;
    overflow: scroll;
    justify-content: flex-start;
  }
}
