.overlay__bck {
  position: fixed;
  top: 0;
  left: 0;
  object-position: center;
  width: 100vw;
  height: 105vh;
  z-index: 2000;
  cursor: pointer;
  overflow: scroll;
  animation: fadeIn 4s;
}

.overlay__animation {
  position: fixed;
  top: calc(50vh - 18vh);
  left: calc(50vw - 18vh);
  width: 36vh;
  height: 36vh;
  object-fit: contain;
  object-position: center;
  z-index: 3000;
  cursor: pointer;
  animation: fadeIn 4s;
}
