.section1 {
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}
.section1 h1 {
  color: var(--red);
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.1vh;
  padding: 0 20%;
  width: 60%;
  margin: 0;
  margin-top: 18px; /* this because font x is not centered */
  font-family: "FormulaCondensed";
}

@media (min-width: 716px) {
  .section1 {
    height: 128px;
  }
  .section1 h1 {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    margin-top: 12px; /* this because font x is not centered */
  }
}

.section2 {
  padding: 24px 0;
  background: var(--red);
  color: var(--blue);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section2 span {
  padding: 4px;
  width: 100vw;
  text-align: center;
  font-family: "FormulaCondensed";
  font-size: 36px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1vh;
}

@media (min-width: 716px) {
  .section2 {
    background: var(--red);
    color: var(--blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 0;
  }
  .section2 > span:nth-child(even) {
    text-align: right;
  }
  .section2 span {
    padding: 8px 16px;
    width: calc(50vw - 32px);
    text-align: left;
    font-family: "FormulaCondensed";
    font-size: 6.5vw;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.services .section3 {
  box-sizing: border-box;
  margin-top: -1;
  background-color: var(--red);
  padding-bottom: 20px;
}
.services .section3 p {
  color: var(--blue);
  padding: 20px 60px;
  font-weight: 100;
}
.services p {
  font-size: calc(14px + 0.46vw);
  text-transform: uppercase;
  font-weight: 600;
}

.header {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  color: var(--red);
  font-size: calc(20px + 2.7vw) !important;
  letter-spacing: -0.05em !important;
}

.section4 {
  background: var(--beige);
}
@media (max-width: 716px) {
  .services .section4 td {
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    padding: 50px;
    width: 100% !important;
    text-align: center;
  }
  .services .leftpane {
    width: 100%;
    text-align: center;
  }

  .services .rightpane {
    width: 100%;

    text-align: center;
  }
}
.services .section4 td {
  width: 33%;
  color: var(--red);
  text-align: center;
}
.services .section4 td > h2 {
  font-size: 24px;
  line-height: 32px;
}

.services .section4 td {
  width: 33%;
  color: var(--red);
  text-align: center;
}
.services .colmn {
  padding: 30px;
}
@media (min-width: 716px) {
  .services .colmn {
    margin-top: 50px;
  }
}
.services .colmn1 {
  margin-top: 0;
}
.services .section4 td p {
  font-size: 16px;
  margin-top: 1em;
  text-transform: none;
  text-align: left;
  font-weight: 100;
  font-family: sans-serif, helvetica, arial;
}
.services .section4 > h2 {
  width: calc(100vw - 42px);
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--red);
  padding: 24px;
}

.services h3 {
  font-size: calc(10px + 0.4vw) !important;
  letter-spacing: 0px;
  line-height: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
  min-height: 2.4em;
}
