.slider {
  overflow: hidden;
  position: relative;
}
.slider {
  width: 100vw;
  height: calc(100vw / 16 * 9);
}
@media only screen and (min-width: 716px) {
  .slider {
    width: 60vw;
    height: calc(60vw / 16 * 9);
  }
}

.slider--empty {
}

.slider__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  margin-bottom: calc(100% - 48px);
  transform: translateY(-100%);
}
.slider__btn {
  position: absolute;
  height: 48px;
  width: 48px;
  background: none;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider__btn img {
  width: 36px;
  height: 36px;
  padding: 24px;
}
.slider__btn:focus {
  background: none;
  outline: none;
  border: none;
}
.slider__next {
  top: calc(50% - 24px);
  right: 24px;
}
.slider__prev {
  top: calc(50% - 24px);
  left: 24px;
}
